<div class="container">
    <div class="row">
      <div class="col-lg"></div>
      <div class="col-lg-6">
        <form (ngSubmit)="init()" #forma="ngForm">
          <h1>Inicio de sesión</h1>
          <p class="psw">
            ¿No tienes cuenta? Entra
            <a href="#">aquí</a> para crearla gratis
          </p>
          <hr />
          <label for="email"><b>Correo electrónico</b></label>
          <input
            type="text"
            placeholder="Introduzca la correo electrónico"
            name="email"
            #email="ngModel"
            [(ngModel)]="login.email"
            pattern="^[a-zA-Z0-9.$&*+_~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
            class="form-control"
            [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid}"
            required
          />
          <div class="alert alert-danger" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Introduce un correo electrónico válido
            </div>
            <div *ngIf="email.errors && email.errors.pattern">
              El correo presenta caracteres no validos
            </div>
          </div>

          <label for="password"><b>Contraseña</b></label>
          <input
            type="password"
            placeholder="Introduzca la contraseña"
            name="password"
            #password="ngModel"
            [(ngModel)]="login.password"
            [ngClass]="{'is-valid': !password.invalid, 'is-invalid': password.invalid}"
            class="form-control"
            required
          />
          <div class="alert alert-danger" role="alert" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">
              Introduce una contraseña
            </div>
          </div>

          <div class="row">
            <div class="col-lg">
              <button type="submit" [disabled]="!forma.valid" class="signup-btn">Iniciar sesión</button>
            </div>
          </div>
          <div class="more-options">
            <p class="psw">
              ¿Has olvidado la <a [routerLink]="['/forgot']">contraseña?</a>
            </p>
          </div>
        </form>
      </div>
      <div class="col-lg"></div>
    </div>
</div>
