.logotipe {
    width: 28%;
    text-align: left;
    margin: 0px 0 0px 0px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    position: relative;
    color: whitesmoke;
    top: 25%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    position: relative;
    top: 30%;
    color: whitesmoke;
}