<div class="container-fluid" *ngIf="!loading">
    <shop-carousel-items [items]="items"></shop-carousel-items>
    <app-product-category-list [title]="'Juegos Play Station 4'" [productsList]="listOne" [showDesc]="false"></app-product-category-list>
    <app-product-category-list [title]="'Juegos Mas Economicos'" [productsList]="listTwo" [showDesc]="true"></app-product-category-list>
    <app-product-category-list [title]="'Juegos PC'" [productsList]="listThree" [showDesc]="false"></app-product-category-list>
</div>